.calculator-container {
  background-color: #f0f0f0;
  padding: 24px;
  border: 1px solid #000;
  border-radius: 4px;
}

.calculator {
  border-collapse: collapse;
  border-spacing: 0;
}

.calculator tr td {
  padding: 0;
}

.screen {
  width: 99%;
  display: flex;
  padding-right: 4px;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
  background-color: #9e9e9ee3;
  color: #fff;
}

.calculator-container button {
  width: 80px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #9e9e9e42;
}

.calculator-container .signs {
  background: #ff00008c;
}

.zero-btn .zero {
  width: 160px;
  height: 40px;
}

.quotes-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
